* {
  box-sizing: border-box;
}

.beer-list {
  display: flex;
  flex-flow: wrap-reverse;
  width: 350px;
  align-content: center;
  justify-content: flex-end;

  img {
    height: 150px;
    padding: 4px;
  }
}

.error {
  line-height: 3em;
  font-size: 18px;
  color: #c0392b;
}
