:root {
  --main-color: #00afdb;
}


* {
  box-sizing: border-box;
}


.container {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-evenly;
  width: 90vw;
  margin: 0 auto;
}

.compare-beers {
  flex-flow: row;
  justify-content: flex-start;
  align-content: flex-start;


  .beer-profile {
    display: flex;
    flex-flow: column;
    border: 1px dashed var(--main-color);
    margin-top: 10px;
    padding: 2px;
    height: 90vh;

    .cell {
      min-width: 200px;
      max-height: 200px;
      padding: 2px;

      .img {
        height: 150px
      }

    .info {
      display: flex;
      justify-content: flex-end;
      font-weight: 900;
      font-size: 35px;
      padding: 0;
      color: var(--main-color);
    }
    }
  }
}

.col {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.mini-beer {
  position: relative;
  padding: 4px;
  border: none;

  &:hover {
    cursor: pointer;
    border: 1px var(--main-color);;
  }

  .img {
    position: absolute;
    left: 70px;
    top: 20px;
    height: 150px;
  }
}


.error {
  line-height: 3em;
  font-size: 18px;
  color: #c0392b;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  position: absolute;
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid var(--main-color);;
  border-radius: 0.2em;
  display: inline-block;
  width: 10em;
  height: 10em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: var(--main-color);;
  border-color: var(--main-color);;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: var(--main-color);;
  border-color: var(--main-color);;
}