@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
:root {
  --main-color:rgba(0, 175, 219, 1) ;
  --main-lighter-color:rgba(0, 175, 219, 0.5) ;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-flow: wrap;
  width: 90vw;
  margin: 0 auto;
}

.cards {
  margin-top: 60px;
}

.compare-beers {
  flex-flow: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.compare-beers .beer-profile {
  display: flex;
  flex-flow: column;
  border: 1px dashed var(--main-color);
  margin: 10px;
  padding: 2px;
  width: 300px;
  max-width: 300px;
}
.compare-beers .beer-profile .cell {
  min-width: 200px;
  max-height: 200px;
  max-width: 300px;
  padding: 2px;
}
.compare-beers .beer-profile .cell .img {
  height: 150px;
}
.compare-beers .beer-profile .cell .info {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  font-size: 35px;
  padding: 0;
  color: var(--main-color);
}

.actions {
  position: fixed;
  z-index: 1;
  justify-content: space-evenly;
  background: white;
  top: 0;
  height: 4em;
  padding: 0.7em;
}

.col {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.beer-card {
  position: relative;
  padding: 4px;
  border: none;
}
.beer-card:hover {
  cursor: pointer;
  border: 1px var(--main-color);
}
.beer-card .img {
  position: absolute;
  left: 70px;
  top: 20px;
  height: 150px;
}
.beer-card .footer {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 167px;
  margin: 0 auto;
  color: white;
  background: var(--main-color);
  padding: 10px;
}

.pagination .input,
.pagination .btn {
  height: 2.5em;
  margin: 6px 0;
}

.error {
  line-height: 3em;
  font-size: 18px;
  color: #c0392b;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  position: absolute;
  display: none;
}

input[type=checkbox] + label:before {
  content: "✔";
  border: 0.1em solid var(--main-color);
  border-radius: 0.2em;
  display: inline-block;
  width: 10em;
  height: 10em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: var(--main-lighter-color);
  border-color: var(--main-lighter-color);
}

.btn {
  border: none;
  color: white;
  background: var(--main-color);
}
.btn:hover {
  cursor: pointer;
  background: var(--main-lighter-color);
}
.btn:disabled {
  background: #aaa;
}

.select {
  width: 200px;
  border: none;
  border-bottom: 1px solid var(--main-color);
  margin: 6px;
  padding: 4px;
  background: var(--main-color);
  color: white;
}
.select:hover {
  background: white;
  color: var(--main-color);
}
.select .option {
  height: 2em;
}

.link {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 6px;
}
.link:hover {
  color: white;
}

.input {
  padding: 0 6px;
}

progress {
  transform: rotate(180deg);
}

.group {
  width: 100px;
}

.name {
  padding: 3px;
  margin: 3px;
  font-weight: bold;
}

.inspect {
  width: 20px;
  height: 20px;
  text-align: center;
}
.inspect:hover {
  color: var(--main-color);
  background: white;
  border-radius: 20%;
}

.tagline {
  quotes: "“" "”" "‘" "’";
  text-align: center;
}
.tagline::before {
  content: open-quote;
}
.tagline::after {
  content: close-quote;
}

.modal {
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  background: white;
  transform: translate(25em, 1em);
  box-shadow: 0 8px 6px -6px var(--main-color);
}

/*# sourceMappingURL=/brew-dog.e31bb0bc.css.map */